@charset "utf-8";
html,
body {
    background-color: rgb(235, 244, 241);
    font-family: "幼圆", "microsoft yahei", arial;
    height: 100%;
    margin: 0;
    min-width: 1000px;
    padding: 0;
    width: 100%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #999;
    font-size: 14px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #666;
    font-size: 14px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #666;
    font-size: 14px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #666;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

ul,
p {
    margin: 0;
}

li {
    float: left;
    height: 30px;
    list-style: none;
    margin-left: 20px;
}

a {
    color: #666;
    outline: none;
    text-decoration: none;
}

.clear {
    clear: both;
}

/**
 * 内容样式
 */

.content {
    height: 1000px;
    left: 50%;
    margin-left: -500px;
    margin-top: 30px;
    position: relative;
    width: 1000px;
}

/*左侧的样式*/
.c_top {
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    float: left;
    height: 880px;
    width: 588px;
}

.ct_top {
    border-bottom: 1px solid #ddd;
    height: 60px;
    width: inherit;
}

.ctl_div {
    float: left;
    height: inherit;
    width: 80px;
}

.ctl_div p {
    color: rgb(94, 206, 184);
    font-family: Arial;
    font-size: 20px;
    height: inherit;
    line-height: 60px;
    margin: 0;
    text-align: center;
    width: inherit;
}

.ctr_div {
    float: right;
    height: inherit;
    width: 300px;
}

.ctr_div ul li:hover {
    cursor: pointer;
}

.li_now {
    color: #999;
    left: 50px;
    position: relative;
    top: 30px;
}

.li_change {
    border-bottom: 1px solid rgb(94, 206, 184);
    color: #333;
    left: 50px;
    position: relative;
    top: 30px;
}

.ct_down {
    border-bottom: 1px solid #ccc;
    height: 800px;
    margin-left: 10px;
    width: 568px;
}

.div_show {
    /*   background-color: red;*/
    color: #333;
    height: 750px;
    width: inherit;
}

.div_hidden {
    display: none;
}

/*左侧话题内容样式*/
.d_s_div{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.d_s_d_p{
    color: rgb(2,130,104);
    font-weight: bold;
    margin: 10px 0;
}

.float_left {
    float: left;
    text-align: center;
    width: 35px;
}

.float_left div{
    border-radius: 3px; 
}

.f_t_top{
    background-color: rgb(238,248,246);
    margin-bottom: 5px;
    width: inherit;
}

.f_t_top p{
    color: rgb(2,130,104);
    padding: 5px 0;
    position: relative;
    top: -3px;
}

.f_t_down{
    background-color: rgb(238,248,246);
    width: inherit;
}

.float_right {
    float: left;
    margin-left: 10px;
    width: 515px;
}

.float_right h4{
    font-family: "华文仿宋";
    font-weight: normal;
}

.float_right p{
    color: black;
    line-height: 18px;
    margin: 5px 0;
    font-size: 13px;
    text-indent: 27px;
}

.f_r_com_div{
    height: 20px;
    width: inherit;
}

.f_r_com_div span{
    color: #bbb;
    font-size: 13px;
}

.comment_pic{
    margin: 0 -5px 0 5px;
    position: relative;
    top: 3px;
}

.answer_pic{
    margin: 0 -5px 0 5px;
    position: relative;
    top: 2px;
}

/*右侧的样式*/
.c_right {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    float: left;
    height: 450px;
    margin-left: 20px;
    width: 388px;
}

.c_right p {
    color: rgb(117, 220, 210);
    height: 25px;
    line-height: 25px;
    margin: 15px 0;
    text-align: center;
    width: inherit;
}

.p_form {
    height: 360px;
    width: inherit;
}

.p_form form input {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    font-size: 15px;
    height: 35px;
    margin-left: 14px;
    text-indent: 3px;
    width: 360px;
}

.p_form form label {
    color: #666;
    display: block;
    margin: 30px 0 5px 14px;
}

.p_form form textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
    height: 130px;
    margin-left: 14px;
    padding: 3px 0 0 3px;
    resize: none;
    width: 358px;
}

.p_form form input[type="submit"] {
    background-color: rgb(95, 205, 183);
    border: 0px solid;
    border-radius: 5px;
    color: white;
    float: right;
    font-size: 13px;
    height: 35px;
    margin: 5px 10px 0 0;
    text-indent: -2px;
    width: 65px;
}

.p_form form input[type="submit"]:hover{
    cursor: pointer;
}

/**
 * 第二块模板
 */

.content1 {
    background-color: red;
    display: none;
    height: 1000px;
    left: 50%;
    margin-left: -600px;
    margin-top: 30px;
    position: relative;
    width: 1200px;
}
