@charset "utf-8";
html,
body {
    background-color: rgb(235, 244, 241);
    font-family: "幼圆", "microsoft yahei", arial;
    height: 100%;
    margin: 0;
    min-width: 1000px;
    padding: 0;
    width: 100%;
}

input::-webkit-input-placeholder{
    color: #999;
    font-size: 14px;
}

input:-moz-placeholder{
    color: #666;
    font-size: 14px;
}

input::-moz-placeholder{
    color: #666;
    font-size: 14px;
}

input:-ms-input-placeholder{
    color: #666;
    font-size: 14px;
}

p,h2,h4 {
    margin: 0;
}

a {
    color: #666;
    outline: none;
    text-decoration: none;
}

.title {
    background-color: rgb(94, 206, 184);
    height: 50px;
    width: inherit;
}

.set_word {
    /*    background-color: yellow;*/
    float: left;
    height: inherit;
    width: 280px;
}

.set_word img{
    left: 160px;
    position: relative;
    top: 8px;
}

.title_search {
    background-color: white;
    border-radius: 5px;
    float: left;
    height: 40px;
    position: relative;
    top: 5px;
    width: 320px;
}

.submit {
    background-image: url("../img/search.png");
    background-color: #EAF2F0;
    background-repeat: no-repeat;
    background-position: 11px 8px;
    border: 0px solid;
    border-radius: 5px;
    float: right;
    height: 40px;
    position: relative;
    width: 46px;
}

.submit:hover{
    cursor: pointer;
}

#ts_search {
    border: 0px solid;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    margin-bottom: 5px;
    outline: none;
    text-indent: 3px;
    width: 265px;
}

.change_content {
    float: left;
    height: inherit;
    width: 200px;
}

.change_content a:hover {
    cursor: pointer;
}

.ccp {
    color: white;
    float: left;
    font-size: 18px;
    height: inherit;
    line-height: 50px;
    left: 30px;
    opacity: 0.8;
    position: relative;
    text-align: center;
    width: 60px;
}

.change_content p:hover {
    cursor: pointer;
}

.title_right {
    float: right;
    height: inherit;
    width: 200px;
}

.title_right a {
    float: right;
    line-height: 50px;
    margin: 0 10px 0 0;
    position: relative;
    right: 100px;
}

.title_right a:hover {
    color: #FFFFFF;
}